/Calculator-App/
# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# PyCharm / IntelliJ
# =========================
.idea/

# =========================
# Kivy
# =========================
.kivy/

# =========================
# Operating System
# =========================
Thumbs.db
.DS_Store

# =========================
# Log Files
# =========================
*.log

# =========================
# VS Code (if used)
# =========================
.vscode/